# Ignore NEURON compiled binaries
mod/arm64/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyc

# macOS
.DS_Store

# Python environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/


# Logs / temporary files / files
*.log
*.swp
*.bak
*.tmp
*.dat
*.ai
*.dat

# Compiled NEURON files
x86_64/
arm64/
*.o
*.mod~*

# Data/output
results/
figures/
deprecated/
exported_sweeps/
MNTB_Model_Dann/
optimization_deprecated/
OneDriveBully-master/



